* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 10px;
}

.top-content {
    background-color: #333;
    padding: 10px;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #ffa500;
    align-content: center;
}

.laranja {
    color: #ffa500;
    margin: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.menu .item {
    color: white;
    align-self: center;
    margin: 0 5px 0 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
  }

.dropbtn {
    background-color: #333;
    color: white;
    padding: 8;
    border: none;
    cursor: pointer;
    width: 120px;
    padding: 8px;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #ffa500;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.drop-content a {
    color: white;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #F4830E;
}

.dropdown:hover .drop-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffa500;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
}

.dash-number {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    transition: transform .4s;
}

.dash-number:hover {
    background-color: #aaa;
    transform: scale(1.2);
}

.number-data {
    text-align: center;
    color: black;
    font-size: 1.25rem;
    cursor: default;
}

.content-manage {
    margin: 20px 10px;
}

.entrydata {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.add-cat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.addBtn {
    background-color: green;
    border: none;
    color: white;
    border-radius: 50%;
}

.separate {
    height: 1.5px;
    width: 100%;
    background-color: black;
}

.account {
    display: flex;
    flex-direction: column;
    border: solid 0.5px black;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 10px;
    flex-wrap: wrap;
    width: calc((100% / 4) - 30px);
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.account .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contador {
    padding: 10px 5px;
    align-self: center;
}

.fa-plus-circle {
    color: green;
}

.add-cat-btn {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
}

.add-cat-btn a {
    text-decoration: none;
    padding: 5px 30px;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.content-items {
    align-self: center;
    width: 90%;
    margin: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category {
    padding: 6px 5px;
    font-size: 1.1rem;
    border-color: black;
}

.input-manage {
    padding: 5px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.1em;
}

input, select {
    margin-bottom: 10px;
}

.name-cat {
    margin: 0 5px;
}

.input-manage::placeholder {
    opacity: 0.5;
}

.fa-edit {
    color: #ffa500;
}

.fa-trash-alt {
    color: #c00000;
}

.fa-money-bill-alt {
    color: green;
}

