* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "header"
        "main";
}

.header {
    grid-area: header;
    background-color: #333;
    padding: 10px;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #ffa500;
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;
}

.gridcontrol {
    width: 100%;
    height: 100%;
}

.leftgrid {
    grid-area: leftgrid;
    overflow-y: auto;
}

.rightgrid {
    grid-area: rightgrid;
    overflow-y: auto;
}

.botleft {
    grid-area: botleft;
}

.botright {
    grid-area: botright;
}

.midwid {
    width: 50%;
}

.amounts {
    text-align: center;
    border: solid 1px black;
}

.amounts span {
    display: block;
}

span.rec {
    color: green;
    font-size: 1.5em;
    font-weight: 600;
}

span.des {
    color: red;
    font-size: 1.5em;
    font-weight: 600;
}

h1 {
    margin-top: 10px;
}

p {
    margin: 0 0 5px 0;
}

.top-content {
    display: flex;
    flex-direction: row;
}

.scrolly {
    overflow-x: hidden;
    overflow-y: auto;
    
}

tr, tr:hover td{
    background: white;
}

tr.in, tr.in:hover td {
    background:lightgreen;
    font-size: 1.1rem;
    font-weight: 500;
}

tr.out, tr.out:hover td {
    background:lightcoral;
    font-size: 1.1rem;
    font-weight: 500;
}

.home, .home:hover,active,visited { 
    justify-self: start;
    align-self: center;
    text-decoration: none;
    color: #ffa500;
    font-size: 1.5em;
}

.viewbtn, .viewbtn:hover,active,visited {
    text-decoration: none;
    color: royalblue;
}


.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.menu .item {
    color: white;
    align-self: center;
    margin: 0 5px 0 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
  }

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    padding: 8px;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #ffa500;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.drop-content a {
    color: white;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #F4830E;
}

.dropdown:hover .drop-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffa500;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
}

.dash-number {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    transition: transform .4s;
}

.dash-number:hover {
    background-color: #aaa;
    transform: scale(1.2);
}

.number-data {
    text-align: center;
    color: black;
    font-size: 1.25rem;
    cursor: default;
}

.content-manage {
    margin: 20px 10px;
}

.entrydata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.add-cat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.addBtn {
    background-color: green;
    border: none;
    color: white;
    border-radius: 50%;
}

.separate {
    height: 1.5px;
    width: 100%;
    background-color: black;
}

.account {
    display: flex;
    flex-direction: column;
    border: solid 0.5px black;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 10px;
    flex-wrap: wrap;
    min-width: calc((100% / 4) - 30px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.account .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account span {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.acc-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contador {
    padding: 10px 5px;
    align-self: center;
}

.fa-plus-circle {
    color: green;
}

.add-cat-btn {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
}

.add-cat-btn a {
    text-decoration: none;
    padding: 5px 30px;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.content-items {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 306px;
    grid-template-areas: 
        "botleft botright"
        "leftgrid rightgrid";
    grid-gap: 10px;
}

select, .datein {
    padding: 6px 5px;
    font-size: 1.1rem;
    border-color: black;
}

.input-manage, .datein {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.1em;
}

input, select {
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
}

.name-cat {
    margin: 0 5px;
}

.input-manage::placeholder {
    opacity: 0.5;
}

.fa-edit {
    color: #ffa500;
}

.fa-trash-alt {
    color: #c00000;
}

.fa-money-bill-alt {
    color: green;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #999;
    width: 100%;
}