* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.top-content {
    background-color: #333;
    padding: 10px;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #ffa500;
    align-content: center;
}

.laranja {
    color: #ffa500;
    margin: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.menu .item {
    color: white;
    align-self: center;
    margin: 0 5px 0 0;
}

.item a {
    color: white;
    text-decoration: none;
    outline: none;
    padding: 8px;
    font-weight: 500;
    border-radius: 2px;
}

.item a:hover {
    background-color: #ffa500;
    color: black;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
}

.dash-number {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    transition: transform .4s;
}

.dash-number:hover {
    background-color: #aaa;
    transform: scale(1.2);
}

.number-data {
    text-align: center;
    color: black;
    font-size: 1.25rem;
    cursor: default;
}

.content-manage {
    margin: 20px 10px;
}

.add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.addBtn {
    background-color: green;
    border: none;
    color: white;
    border-radius: 50%;
}

.separate {
    height: 1.5px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.contador {
    padding: 10px 5px;
    align-self: center;
}

.fa-plus-circle {
    color: green;
}

.content-items {
    margin: 50px 250px;
}

.add {
    margin-left: 20px;
}

.category {
    padding: 6px 5px;
    font-size: 1.1rem;
    border-color: black;
}

.input-manage {
    padding: 5px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.1em;
}

.input-manage::placeholder {
    opacity: 0.5;
}

.fa-edit {
    color: #ffa500;
}

.fa-trash-alt {
    color: #c00000;
}

